<div class="panel">
    <a routerLink="/questions-management" class="btn" routerLinkActive="active">Questions management</a>
    <a routerLink="/question-types" class="btn" routerLinkActive="active">Question types</a>
</div>

<div class="questionnare">
    <div class="answered">
        <ng-container *ngFor="let question of allQuestions;">
            <card [question]="question" [types]="allTypes"></card>
        </ng-container>
    </div>
    <div class="unanswered">
        
    </div>
</div>
