
<div class="formBlock">
<button (click)="toggleBlock=!toggleBlock" class="btn">Add question type</button>
<ng-container *ngIf="toggleBlock">
    <form (ngSubmit)='onSubmit(typeForm)' #typeForm="ngForm" class="form">
        <div class="formGroup">
            <label for="id" class="left">ID: </label>
            <input 
                type="text" 
                name="id" 
                id="id"
                [(ngModel)]='type.id'
                ngModel #id = 'ngModel'
                required
                class="right"
            >
        </div>
        <div class="formGroup">
            <label for="name" class="left">Type name: </label>
            <input 
                type="text" 
                name="name" 
                id="name"
                [(ngModel)]='type.name'
                ngModel #name = 'ngModel'
                required
                class="right"
            >
        </div>
        
        <button type="submit" [disabled]="typeForm.invalid" class="btn">SAVE</button>
    </form>
</ng-container>
</div>
